<html>
   <body>
   
      <form action = "/setcookie" method = "POST">
      	<p>
      		<h3> Final Grade Calculator </h3>
      	</p>
      	<p>
      		Enter your name
      		<input type = 'text' name = 'Name'/>
      	</p>

      	<p>
      		Enter P1 grade
      		<input type = 'text' name = 'p1'/>
      	</p>

      	<p>
      		Enter P2 grade
      		<input type = 'text' name = 'p2'/>
      	</p>

      	<p>
      		Enter Exam grade
      		<input type = 'text' name = 'ex'/>
      	</p>

        <p>
        	<input type = 'submit' value = 'submit'/>
    	</p>
      </form>
   </body>
</html>